.timer-container{
    width: 50%;
    height: auto;
    flex-direction: column;
}

.timer{
    font-size: 10em;
}

.average{
    font-size: 3em;
}

@media screen and (max-width: 600px){
    .timer{
        font-size: 5em;
    }

    .average{
        font-size: 1.5em;
    }
}