 :root{
    --background-color: white;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.body{
    display: flex;
    flex-direction: column;
}

.app-header{
    border: 1px solid black;
    background-color: rgba(129,129,129,255);
    color: white;
    width: 100%;
    height: 12vh;
}

.time-content-container{
    width: 100%;
    height: 88vh;
    display: flex;
    flex-direction: row;
}

.time-display-container{
    border: 1px solid black;
    background-color: rgba(211,211,211,255);
    width: 80%;
    height: 100%;
}

.time-table-container{
    border: 1px solid black;
    background-color: rgba(163,158,158,255);
    width: 20%;
    height: 100%;
}

@media screen and (max-width: 600px){
    .app-header{
        width: 100%;
        height: 15vh;
    }

    .time-content-container{
        flex-direction: column;
        height: 85vh;
    }

    .time-display-container{
        width: 100%;
        height: 65%;
    }

    .time-table-container{
        width: 100%;
        height: 35%;
    }
}